extends page

block contents
	include about
	mixin about_me

	div#main-page-container.container
		div.row
			div.span8.offset2
				div(style="margin:20px;")
					- each year in years

						h3 #{year}
						table.table(style="margin-top:10px;width:100%;")
							- each post in posts
								- if((1 * post.year) == year)
									tr
										td
											a(href=post.url) #{post.title}
										td.post-date(style="width:80px;")
											small #{post.date}