extends page

block contents
	include about
	mixin about_me

	div#main-page-container.container
		div.row
			div.span8.offset2
				center(align="center",style="margin-top:35px;")
					p(style="font-size:20px;") Keep it Simple Stupid
					small Now that's a Motto!

				div(style="margin:20px;")
					a(href="/archive.html",style="float:right;margin:5px;") View All Posts
					h3 Recent Posts
					table.table(style="margin:0;margin-top:10px;width:100%;")
						- each post in posts
							tr
								td
									a.bigger-size(href=post.url) #{post.title}
								td.post-date(style="width:80px;")
									small #{post.date}

				div(style="margin:20px;")
					h3 Presentations
					table.table(style="margin:0;margin-top:10px;width:100%;")

						tr
							td
								a.bigger-size(href="http://johanndutoit.net/presentations/2014/04/realtime-apps-04-april-2014") PHP South-Africa / Building realtime apps - 04 April 2014
							td.post-date(style="width:80px;")
								small 2014/04/04

						tr
							td
								a.bigger-size(href="http://johanndutoit.net/presentations/2013/12/js-intro-14-12-2013") Intro to JS with Backbone and Google Maps - 14 Dec 2013
							td.post-date(style="width:80px;")
								small 2013/12/14

						tr
							td
								a.bigger-size(href="http://johanndutoit.net/presentations/2013/10/appengine-intro-pycon-03-10-2013") PyConZa 2013 App Engine Tutorial - 3 Oct 2013
							td.post-date(style="width:80px;")
								small 2013/10/03
						tr
							td
								a.bigger-size(href="/presentations/2013/09/humanipo-google-apps-for-startups-21-09-2013/index.html") HumanIPO Google Apps for Startups - 21 Sept 2013
							td.post-date(style="width:80px;")
								small 2013/09/21
						tr
							td
								a.bigger-size(href="/presentations/2013/06/gdg-lightning-talk-29-june-2013/index.html") Do you even have a bot, bru ? - 29 June 2013
							td.post-date(style="width:80px;")
								small 2013/06/29
						tr
							td
								a.bigger-size(href="/presentations/2013/05/node-meetup-intro-29-may-2013/index.html") Node Meetup Cape Town - 29 May 2013
							td.post-date(style="width:80px;")
								small 2013/05/29
						tr
							td
								a.bigger-size(href="/presentations/2013/02/gdg-capetown-nodejs-workshop-23-feb-2013/index.html") NodeJS Workshop - GDG Cape Town 23 Feb 2013
							td.post-date(style="width:80px;")
								small 2013/02/23
						tr
							td
								a.bigger-size(href="/presentations/2012/10/gdg-capetown-27-oct-2012/index.html") IdentiChip - GDG Cape Town
							td.post-date(style="width:80px;")
								small 2012/10/27

				div(style="margin:20px;")
					h3 Portfolio
					table.table(style="margin:0;margin-top:10px;width:100%;")
						tr
							td
								a.bigger-size(href="http://www.hellobreeder.com") HelloBreeder
								p(style="margin-top:5px;margin-bottom:0;") Website to Rate Breeders
							td.post-date(style="width:80px;")
								small 2013/08/08
						tr
							td
								a.bigger-size(href="#") Interbet Inplay
								p(style="margin-top:5px;margin-bottom:0;") Realtime Betting System Written in NodeJS
							td.post-date(style="width:80px;")
								small 2013/08/31
						tr
							td
								a.bigger-size(href="http://interbet.mobi") Interbet Mobi
								p(style="margin-top:5px;margin-bottom:0;") Mobile Betting Platform
							td.post-date(style="width:80px;")
								small 2013/06/01
						tr
							td
								a.bigger-size(href="http://crm.interbet.co.za:8080") Interbet CRM
								p(style="margin-top:5px;margin-bottom:0;") CRM to handle mails to Interbet
							td.post-date(style="width:80px;")
								small 2013/04/25
						tr
							td
								a.bigger-size(href="#") WhatsUp!
								p(style="margin-top:5px;margin-bottom:0;") Near me Events Service
							td.post-date(style="width:80px;")
								small 2012/11/01
						tr
							td
								a.bigger-size(href="http://www.aft.org") AFT Backbase Portal
								p(style="margin-top:5px;margin-bottom:0;") Migrated the AFT portal to the new V5
							td.post-date(style="width:80px;")
								small 2012/11/01
						tr
							td
								a.bigger-size(href="#") IdentiChip
								p(style="margin-top:5px;margin-bottom:0;") Microchip Search Engine for all the Microchip Websites
							td.post-date(style="width:80px;")
								small 2012/11/01
						tr
							td
								a.bigger-size(href="http://www.amakozi.com/products/reporting.aspx") SDL Reporting
								p(style="margin-top:5px;margin-bottom:0;") Data Aggregation and Reporting Service
							td.post-date(style="width:80px;")
								small 2012/09/01
						tr
							td
								a.bigger-size(href="http://www.johanndutoit.net") My Blog
								p(style="margin-top:5px;margin-bottom:0;") My Personal blog that I built from the ground up
							td.post-date(style="width:80px;")
								small 2012/05/01
						tr
							td
								a.bigger-size(href="http://www.curriculumvitae.co.za") Curriculum Vitae
								p(style="margin-top:5px;margin-bottom:0;") Online service to build resume's
							td.post-date(style="width:80px;")
								small 2012/04/01
						tr
							td
								a.bigger-size(href="#") Geo Notification Server
								p(style="margin-top:5px;margin-bottom:0;") Server to keep track of Gaurds as they pass checkins with their GPS device
							td.post-date(style="width:80px;")
								small 2012/02/01
						tr
							td
								a.bigger-size(href="https://github.com/Johanndutoit/Zip-to-FTP-Backup") FTP Backup Zipper
								p(style="margin-top:5px;margin-bottom:0;") Script to Zip and Upload Backups to a Remote FTP server
							td.post-date(style="width:80px;")
								small 2012/02/01
						tr
							td
								a.bigger-size(href="http://www.food4pets.co.za") Food 4 Pets
								p(style="margin-top:5px;margin-bottom:0;") E-Commerce Website for Animal Products
							td.post-date(style="width:80px;")
								small 2011/11/22
						tr
							td
								a.bigger-size(href="https://github.com/Johanndutoit/Curriculum-Vitae-Manager") Curriculum Vitae Generation Script
								p(style="margin-top:5px;margin-bottom:0;") Script that I used to generate my Resume
							td.post-date(style="width:80px;")
								small 2011/10/21
						tr
							td
								a.bigger-size(href="http://www.cmsalliance.com") CMS Alliance
								p(style="margin-top:5px;margin-bottom:0;") Website for Consulting Companies to Signup
							td.post-date(style="width:80px;")
								small 2011/04/01
						tr
							td
								a.bigger-size(href="http://www.getmeknown.co.za") Get Me Known
								p(style="margin-top:5px;margin-bottom:0;") National Microchip Database
							td.post-date(style="width:80px;")
								small 2011/04/01
						tr
							td
								a.bigger-size(href="http://www.getmehome.co.za") Get Me Home
								p(style="margin-top:5px;margin-bottom:0;") Tag Identification Database
							td.post-date(style="width:80px;")
								small 2011/01/01
						tr
							td
								a.bigger-size(href="http://www.btri.co.za") Bull-Terrier Rescue
								p(style="margin-top:5px;margin-bottom:0;") Did some Charity Website for a Non-Profit Dog Rescue
							td.post-date(style="width:80px;")
								small 2010/12/01

				div(style="margin:20px;")
					h3 Qualifications
					table.table(style="margin:0;margin-top:10px;width:100%;")
						tr
							td
								.bigger-size BSC Informatics (Expecting to Graduate in 2016)
							td.post-date(style="width:60px;")
								small 2013/01
						tr
							td
								.bigger-size MCDB - Microsoft Certified Database Developer
							td.post-date(style="width:60px;")
								small 2012/03
						tr
							td
								.bigger-size Oracle Certified Professional, Java SE 6 Programmer
							td.post-date(style="width:60px;")
								small 2011/10
						tr
							td
								.bigger-size CCNP - Cisco Certified Network Professional
							td.post-date(style="width:60px;")
								small 2011/09
						tr
							td
								.bigger-size CCNA - Cisco Certified Network Associate
							td.post-date(style="width:60px;")
								small 2010/10
						tr
							td
								.bigger-size MCTS - Microsoft Certified Technology Specialist
							td.post-date(style="width:60px;")
								small 2010/04
						tr
							td
								.bigger-size ITIL Foundations V3 (Green Badge)
							td.post-date(style="width:60px;")
								small 2010/07
						tr
							td
								.bigger-size CPB Project Management
							td.post-date(style="width:60px;")
								small 2010/06
						tr
							td
								.bigger-size MCPD - Microsoft Certified Professional Developer
							td.post-date(style="width:60px;")
								small 2010/08
						tr
							td
								.bigger-size MCITP - Microsoft Certified IT Professional
							td.post-date(style="width:60px;")
								small 2010/04

				div(style="margin:20px;")
					h3 Achievements
					table.table(style="margin:0;margin-top:10px;width:100%;")
						tr
							td
								.bigger-size Won the 2013 ScaleConf Google App Engine Hackathon
							td.post-date(style="width:40px;")
								small 2013
						tr
							td
								.bigger-size Google Apps Developer Challenge 2012 Finalist
							td.post-date(style="width:40px;")
								small 2012