extends page

block contents
	include about
	mixin about_me

	div#main-page-container.container
		div.row
			div.span8.offset2
				center(align="center",style="margin-top:35px;")
					p(style="font-size:20px;") Keep it Simple Stupid
					small Now that's a Motto!

				div(style="margin:20px;")
					a(href="/archive.html",style="float:right;margin:5px;") View All Posts
					h3 Recent Posts
					table.table(style="margin:0;margin-top:10px;width:100%;")
						- each post in posts
							tr
								td
									a.bigger-size(href=post.url) #{post.title}
								td.post-date(style="width:80px;")
									small #{post.date}

				div(style="margin:20px;")
					h3 Presentations
					table.table(style="margin:0;margin-top:10px;width:100%;")
						tr
							td
								a.bigger-size(href="/presentations/2013/05/node-meetup-intro-29-may-2013/index.html") Node Meetup Cape Town 29 May 2013
							td.post-date(style="width:80px;")
								small 2013/05/29
						tr
							td
								a.bigger-size(href="/presentations/2013/02/gdg-capetown-nodejs-workshop-23-feb-2013/index.html") NodeJS Workshop - GDG Cape Town 23 Feb 2013
							td.post-date(style="width:80px;")
								small 2013/02/23
						tr
							td
								a.bigger-size(href="/presentations/2012/10/gdg-capetown-27-oct-2012/index.html") IdentiChip - GDG Cape Town
							td.post-date(style="width:80px;")
								small 2012/10/27