extends page

block contents
	div#main-page-container.container
		div.row
			div.span8.offset2
				div(style="margin:20px;")
					=post.content

	include partials/about
	mixin about_me_footer(recent_posts)