extends page

block contents
	div#main-page-container.container
		div.row
			div.span8.offset2
				div(style="margin:20px;")
					!{post.content}

					hr
					p(style="font-size:14px;")  Posted on !{post.date} by 
						a(href="/") Johann du Toit

	include about
	mixin about_me_footer(recent_posts)