extends page

block contents
	div#main-page-container.container
		div.row
			div.span8.offset2
				div(style="margin:20px;")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel velit nisl, a dapibus leo. Aenean ut est at tortor dictum tristique quis et arcu. Donec mollis nisl a ligula gravida condimentum. Donec at iaculis eros. Quisque ipsum sapien, eleifend a venenatis vel, hendrerit a turpis. Suspendisse potenti. Phasellus ac iaculis libero. Suspendisse iaculis ligula ut felis lobortis mollis. Nam at sem quam. Phasellus at odio ut enim porttitor vehicula. Nam consectetur tempor malesuada. In hac habitasse platea dictumst. Aliquam placerat ipsum sed dui elementum consectetur. Proin eu mauris diam, eget ullamcorper risus. Quisque pharetra viverra urna dictum dignissim.

					p Praesent rutrum consectetur sagittis. Nullam ac enim nibh. Pellentesque id risus at eros ultrices viverra. Sed placerat placerat justo, nec fringilla erat malesuada eu. Proin porttitor mattis orci, vitae sodales nisl interdum quis. Sed interdum accumsan ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae neque a neque egestas hendrerit. Sed suscipit pretium leo quis ultricies. Cras ut velit nisi. Donec sodales condimentum faucibus.

					p Quisque ipsum dui, ultrices at gravida semper, malesuada ac tortor. Morbi vel posuere enim. Integer gravida, eros sit amet fringilla pulvinar, felis ligula varius lacus, id mollis mi nulla id felis. Ut vestibulum auctor tortor, sed facilisis risus malesuada eu. Vestibulum vel ligula elit, a hendrerit dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam gravida porta nisl, accumsan tristique odio commodo id. Praesent non velit eget est mollis rutrum. In purus ligula, scelerisque eu fringilla id, sagittis tincidunt turpis. Vivamus accumsan eros nec tellus pretium sodales.

					p Proin lobortis ante vel nisi ultricies nec venenatis purus vulputate. Nullam consectetur sem et metus dapibus facilisis. Sed feugiat ligula in lorem tempor et consectetur enim pulvinar. Donec sed felis libero, ut laoreet tellus. Sed vel hendrerit urna. Suspendisse risus justo, dapibus et ultrices sed, sodales in lectus. Mauris fringilla leo eget turpis adipiscing consequat. Nam ultricies, metus in commodo vehicula, sapien augue suscipit nunc, quis rhoncus lorem tortor eu magna. Suspendisse potenti. Fusce tempus scelerisque gravida. Vivamus orci arcu, elementum sed ullamcorper eu, commodo eu dui. Integer laoreet pharetra nisi at pellentesque. Pellentesque ligula dui, vulputate ut congue at, tempus et sapien. Duis sit amet ligula non purus venenatis molestie in ac mi. Nulla viverra lobortis quam, non aliquam lectus ultricies facilisis. Nulla laoreet magna non orci sodales a varius odio aliquam.

					p Pellentesque lorem nisi, vestibulum at posuere nec, cursus a elit. Curabitur sodales eros at sem bibendum porta. In dictum posuere ante, vitae molestie libero iaculis et. Maecenas magna urna, commodo eu consequat at, placerat vitae tortor. In vestibulum congue est, blandit sagittis ligula aliquam tincidunt. Fusce rhoncus dapibus odio eu congue. Praesent elementum semper dapibus. Cras laoreet tempor ultrices. Vivamus sapien libero, dignissim in condimentum ac, feugiat at quam. Nam pharetra sodales purus sit amet fringilla. Proin feugiat cursus diam sit amet tempus. Mauris orci enim, facilisis vel aliquet ut, rutrum placerat ipsum. Nulla tincidunt rhoncus sagittis. Morbi ullamcorper leo sed augue ultrices vitae congue turpis tincidunt. Etiam dolor elit, mattis quis lobortis at, scelerisque nec mauris.
	

	include partials/about
	mixin about_me